
.board {
  display: inline-block;
  position: absolute;
  top: 50%;
  padding-top: 54px;
  text-align: left;
}
.board .row {
  margin-top: -54px;
  height: 110px;
}

/**
 * Game over
 */
.board .cover {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
  opacity: 0;
  z-index: 200;
}
.board .game-over {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 90px;
  margin-left: -250px;
  margin-top: -45px;
  z-index: 201;
  text-align: center;
  line-height: 2.1em;
  font-size: 20px;
  color: #FFFFFF;
}

/**
 * Other game items
 */
.indicator {
  position: absolute;
  top: 10px;
  left: 50px;
  border-radius: 12px;
  width: 23px;
  height: 23px;
}
.main-menu-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 23px;
  width: 28px;
  overflow: hidden;
}
.main-menu-btn div {
  margin: -25px 0px 0px -2px;
}
.main-menu-btn div a {
  text-decoration: none;
  color: #CC5555;
  font-family: Courier;
  font-size: 54px;
  cursor: pointer;
}
.main-menu-btn div a:hover {
  color: #FF0000;
}

/**
 * Tiles
 */
.dummy {
  opacity: 0;
}

.tile {
  position: relative;
  display: inline-block;
  margin-right: 74px;
}
.tile .content {
  font-family: 'Iceberg';
  font-size: 30px;
  text-align: right;
  position: absolute;
  top: 35px;
  left: 21px;
  width: 50%;
}
.tile .trigger {
  position: absolute;
  top: 1px;
  left: 4px;
  width: 110px;
  height: 100px;
  border-radius: 65px;
  opacity: 0;
  z-index: 100;
  cursor: pointer;
}
.tile-pre {
  display: inline-block;
  width: 0;
  border-right: 30px solid #BBBBBB;
  border-top: 52px solid transparent;
  border-bottom: 52px solid transparent;
}
.tile-main {
  display: inline-block;
  width: 60px;
  height: 104px;
  background-color: #BBBBBB;
}
.tile-post {
  display: inline-block;
  width: 0;
  border-left: 30px solid #BBBBBB;
  border-top: 52px solid transparent;
  border-bottom: 52px solid transparent;
}
