
.board {
  margin: 0 auto;
  padding-top: 50px;
  border: 1px solid red;
  position: relative;
}
.board .row {
  margin-top: -50px;
}
.board .indicator {
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 12px;
  width: 24px;
  height: 24px;
}

.tile {
  position: relative;
  display: inline-block;
  margin-right: 75px;
}
.tile .content {
  font-size: 18px;
  text-align: center;
  position: absolute;
  top: 40px;
  width: 100%;
}
.tile .trigger {
  position: absolute;
  top: 1px;
  left: 4px;
  width: 110px;
  height: 100px;
  border-radius: 65px;
  opacity: 0;
  z-index: 100;
  cursor: pointer;
}
.tile-pre {
  display: inline-block;
  width: 0;
  border-right: 30px solid #BBBBBB;
  border-top: 52px solid transparent;
  border-bottom: 52px solid transparent;
}
.tile-main {
  display: inline-block;
  width: 60px;
  height: 104px;
  background-color: #BBBBBB;
}
.tile-post {
  display: inline-block;
  border-left: 30px solid #BBBBBB;
  border-top: 52px solid transparent;
  border-bottom: 52px solid transparent;
}
