
* {
  font-family: 'Stalinist One', cursive;
}

@media (max-width: 850px), (max-height: 600px) {
  .board {
    transform: scale(.5);
  }
}

body {
  background-color: #111111;
  overflow: hidden;
}
h1.title {
  font-size: 44px;
  text-align: center;
  color: #FFFFFF;
}

#container {
  position: absolute;
  top: 50%;
  height: 280px;
  margin: -140px 0 0 0;
  width: 100%;
  text-align: center;
  line-height: 1.8em;
}

a {
  text-decoration: none;
  color: #DD5555;
  font-size: 20px;
  cursor: pointer;
}
a:hover {
  color: #FF0000;
}

#board {
  text-align: center;
}

/**
 * Checkbox
 */
#is-solo {
  width: 200px;
  height: 30px;
  margin-bottom: 15px;
  font-size: 15px;
  background: none;
  border-radius:4px;
  color: #DD5555;
  border: 2px solid #DD5555;
  cursor: pointer;
}
#is-solo:hover {
  color: #FF0000;
  border: 2px solid #FF0000;
}
