
* {
  font-family: 'Stalinist One', cursive;
}

body {
  background-color: #111111;
  overflow: hidden;
}
h1.title {
  font-size: 44px;
  text-align: center;
  color: #FFFFFF;
}

#container {
  position: absolute;
  top: 50%;
  height: 220px;
  margin: -110px 0 0 0;
  width: 100%;
  text-align: center;
  line-height: 1.8em;
}

a {
  text-decoration: none;
  color: #DD5555;
  font-size: 20px;
  cursor: pointer;
}
a:hover {
  color: #FF0000;
}

#board {
  text-align: center;
}

